[Unit]
Description=LIFX Sendspin Advanced Music Visualizer
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/lifx-sendspin-visualizer
ExecStart=/home/pi/lifx-sendspin-visualizer/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
